.activityContainer
    width: 20.875rem
    height: 10.875rem
    border-radius: 0.3125rem
    background: #D8D8D8
    text-align: left
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    align-content: flex-end
    margin-bottom: 2rem


.title
    padding: 0 1rem
    width: 100%
    font-weight: 600

.description
    padding: 1rem
    width: 100%