.header
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 3.375rem
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 30rem
    margin: 0 auto