.pageWrapper
    min-height: 100vh
    display: flex
    text-align: center
    flex-wrap: wrap
    max-width: 30rem
    margin: 0 auto
    width: 90%

.pageWrapperContent
    margin: 0 auto
    padding-top: 4.375rem
    padding-bottom: 5rem